


body {
  background-color: #121212;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
}

title-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 400px;
  height: 80px;
  background-color: #171717;
}

.title-logo {
  font-size: 40px;
}

title-nav ul {
  display: flex;
  justify-content: center;
}

title-nav ul li {
  font-size: 20px;
  list-style: none;
  margin: 0 23px;
}

title-nav ul li:hover {
  font-size: 21px;
  color: aqua;
  cursor: pointer;
}


main hr {
  border: 0;
  background-color: #878282;
  height: 4px;
  margin: 60px;
  border-radius: 20px;
}




.first {
  margin: 120px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first div {
  width: 30%;
}

.first-info {
  font-size: 40px;
  margin: 20px 0;
}

.first-info div {
  display: flex;
}


.first-info .buttons {
  margin: 30px 0;
  padding: 0 0 0 30px;
  gap: 30px;
}

.button {
  background-color: #303030;
  color: antiquewhite;
  width: auto;
  white-space: nowrap;
  padding: 10px 20px;
  border: solid white 2px;
  border-radius: 10px;
  font-weight: 1000;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  font-size: 25px;
}

.button:hover{
  transform: translateY(-5px);
  background-color: aliceblue;
  color: #121212;
  border: solid #878282 3px;
  font-weight: 1000;

}


.first-image {
  margin: 14px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#develop-image {
  width: 500px;
}

#element {
  color: #878282;
}

.name-color {
  color: #878282;
}

.Technologies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 110px;
}

.tech-title{
  display: inline-block;
  font-size: 20px;
}

.tech-titlemain{
  font-weight: bold;
  font-size: 60px;
}

.tech-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 50px 10px;
}

.tech-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid white 1px;
  padding: 30px 70px;
  border-radius: 10px;
  background-color:#171717;
  width: 180px;
  height: 180px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tech-card:hover{
  transform: scale(1.05);
}

.tech-img{
  width: 100px;
  margin: 20px 0;
}

.tech-name{
    font-size: 25px;
    font-weight: bold;
}

















.projects {
  display: flex;
  flex-direction: column;
  margin: 0 110px
}

.projects-title {
  display: inline-block;
  font-size: 20px;
}

.projects-titlemain{
  font-size: 60px;
  font-weight: bold;
}




.project-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}



.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  border: solid white 1px;
  padding: 10px;
  border-radius: 15px;
  height: 460px;
  background-color: #303030;
  margin: 40px 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-card span {
  margin: 10px 15px;
  font-size: 30px;
}

.project-card:hover{
  transform: scale(1.05);
}


.project-img{
  align-self: center;
  width: 480px;
  border: solid white 0px;
  border-radius: 15px;
  margin: 15px 0;
  height: 230px;
}

#project-title {
  background-image: linear-gradient(to bottom right, white, blue);
  background-clip: text;
  color: transparent;
}

.project-description {
  margin: 0 15px;
  margin-bottom: 10px;
  color: #878282;
  overflow-y: auto;
  padding-right: 10px;
}

.project-description::-webkit-scrollbar {
  width: 10px;
}

.project-description::-webkit-scrollbar-track {
  background-color: #171717;
  border: solid white 0px;
  border-radius: 10px;
}

.project-description::-webkit-scrollbar-thumb {
  background: #878282;
  border: solid white 0px;
  border-radius: 10px;
}

footer {
  display: flex;
  height: 40px;
  background-color: #303030;
  align-items: center;
  justify-content: space-around;
}