


body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

title-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
    height: 80px;
    background-color: #171717;
}

.title-logo {
    font-size: 40px;
}

title-nav ul {
    display: flex;
    justify-content: center;
}

title-nav ul li {
    font-size: 20px;
    list-style: none;
    margin: 0 23px;
}

title-nav ul li:hover {
    font-size: 21px;
    color: aqua;
    cursor: pointer;
}


main hr {
    border: 0;
    background-color: #878282;
    height: 4px;
    margin: 60px;
    border-radius: 20px;
}




.first {
    margin: 120px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first div {
    width: 30%;
}

.first-info {
    font-size: 40px;
    margin: 20px 0;
}

.first-info div {
    display: flex;
}


.first-info .buttons {
    margin: 30px 0;
    padding: 0 0 0 30px;
    gap: 30px;
}

.button {
    background-color: #303030;
    color: antiquewhite;
    width: auto;
    white-space: nowrap;
    padding: 10px 20px;
    border: solid white 2px;
    border-radius: 10px;
    font-weight: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button:hover{
    transform: translateY(-5px);
    background-color: aliceblue;
    color: #121212;
    border: solid #878282 3px;
    font-weight: 1000;

}


.first-image {
    margin: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#develop-image {
    width: 500px;
}

#element {
    color: #878282;
}

.name-color {
    color: #878282;
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 0 80px
}

.projects-title {
    display: inline-block;
    font-size: 40px;
}


.project-list {
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    border: solid white 1px;
    padding: 10px;
    border-radius: 10px;
    height: 171px;
    background-color: #303030;
    margin: 40px 0;
}

.project-card span {
    margin: 10px 15px;
    font-size: 30px;
}


.project-description {
    margin: 0 15px;
    margin-bottom: 10px;
    color: #878282;
    overflow-y: auto;
}

.project-description::-webkit-scrollbar {
    width: 10px;
}

.project-description::-webkit-scrollbar-track {
    background-color: #171717;
    border: solid white 0px;
    border-radius: 10px;
}

.project-description::-webkit-scrollbar-thumb {
    background: #878282;
    border: solid white 0px;
    border-radius: 10px;
}

footer {
    display: flex;
    height: 40px;
    background-color: #303030;
    align-items: center;
    justify-content: space-around;
}